<h1>Bonjour,</h1>

<p>
    Vous venez de créer un compte sur le site Snowtricks et devez confirmer votre adresse email. Pour cela, veuillez
    cliquer sur le lien ci-dessous: <br><br>
    <a href="{{ url('app_confirm_account', {id: id, token: token} ) }}">Confirmer mon compte</a>.

    Ce lien expire le {{ expiresAt|date('d/m/Y') }}.
</p>
<p>
    À bientôt !
</p>
