{% extends 'base.html.twig' %}

{% block title %}
    Email de réinitialisation de mot de passe envoyé
{% endblock %}

{% block body %}
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8 relative top-16">
        <p class="mt-8">
            Si un compte avec cet email existe, vous recevrez un email contenant un lien permettant de réinitialiser
            votre mot de passe. Veuillez cliquer sur ce lien.
            Ce lien expire
            dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
        </p>
        <p>Si vous n'avez pas reçu d'email, vérifiez vos spams ou veuillez réessayer <a
                    href="{{ path('app_reset_password_request') }}">Renvoyer le lien de réinitialisation</a>.
        </p>
    </div>
{% endblock %}
